<!DOCTYPE html>
<html>

<head>
    <title>gamedetect | Game Detection/Identification</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <link rel="stylesheet" href="assets/css/site.css" />
</head>

<body>
    <div class="ui padded container">
        <h2>Game Detection/Identification with Tensorflow and Go</h2>
        <div class="ui centered grid">
            <form id="image-form" class="ui form" method="post" enctype="multipart/form-data">
                <label for="image-input" class="ui blue icon button">
                    <i class="image icon"></i> Try it out!
                </label>
                <input id="image-input" type="file" name="image" style="display: none" accept="image/png, image/jpeg">
            </form>
        </div>
    </div>

    <div class="ui padded container">
        <h2>Sanity Tests</h2>

        {{range .tests}}
        <div class="ui segments">
            <div class="ui segment">
                <p>{{.Filename}} ({{.SpeedMS}} ms)</p>
            </div>
            <div class="ui secondary segment">
                <div class="ui middle aligned grid">
                    <div class="sixteen wide column">
                        <img class="ui centered large image" src="/test/{{.Filename}}" />
                    </div>
                    <div class="sixteen wide column">
                        <table class="ui table">
                            <thead>
                                <tr>
                                    <th>Label</th>
                                    <th>Probability</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range .Predictions}}
                                <tr {{if (gt .Probability 0.80)}} class="positive" {{end}}
                                    {{if (lt .Probability 0.20)}} class="negative" {{end}}>
                                    <td>{{.Label}}</td>
                                    <td>{{.Probability}}</td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    <script src="" async defer></script>
    <script>
        document.getElementById("image-input").onchange = function () {
            document.getElementById("image-form").submit();
        };
    </script>
</body>

</html>