<!DOCTYPE html>
<html>

<head>
    <title>gamedetect | Game Detection/Identification</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <link rel="stylesheet" href="assets/css/site.css" />
</head>

<body>
    <div class="ui padded container">
        <h1>Game Detection/Identification with Tensorflow and Go</h1>
        <div class="ui centered grid">
            <form id="image-form" class="ui form" method="post" enctype="multipart/form-data">
                <label for="image-input" class="ui blue icon button">
                    <i class="image icon"></i> Try it!
                </label>
                <input id="image-input" type="file" name="image" style="display: none" accept="image/png, image/jpeg">
            </form>
            <a class="ui black button" href="https://github.com/s32x/gamedetect"><i class="github icon"></i> Github</a>
        </div>
    </div>

    <div class="ui padded container">
        <h2>Sanity Tests ({{.tests.Correct}}/{{len .tests.Results}})</h2>
        <h3>Overall Accuracy: {{.tests.Accuracy}}</h3>

        {{range .tests.Results}}
        <div class="ui segments">
            <div class="ui {{if .Correct}}green{{else}}red{{end}} segment">
                <p>{{.Filename}} ({{.SpeedMS}} ms)
                    <i class="{{if .Correct}}check green{{else}}red times{{end}} circle icon"></i>
                </p>
            </div>
            <div class="ui secondary segment">
                <div class="ui middle aligned stackable grid">
                    <div class="eight wide column">
                        <img class="ui centered large image" src="/test/{{.Expected}}/{{.Filename}}" />
                    </div>
                    <div class="eight wide column">
                        <table class="ui table">
                            <thead>
                                <tr>
                                    <th>Label</th>
                                    <th>Probability</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range .Predictions}}
                                <tr {{if (gt .Probability 0.80)}} class="positive" {{end}}
                                    {{if (lt .Probability 0.20)}} class="negative" {{end}}>
                                    <td>{{.Label}}</td>
                                    <td>{{.Probability}}</td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    <script src="" async defer></script>
    <script>
        document.getElementById("image-input").onchange = function () {
            document.getElementById("image-form").submit();
        };
    </script>
</body>

</html>